.vs
*bin
*obj
EmployeeManagement/wwwroot/lib
EmployeeManagement/Migrations
EmployeeManagement/wwwroot/images/740ea28d-ec15-4b5b-a49c-1c39b76d907c_Sara.png
EmployeeManagement/wwwroot/images/77194313-f505-4cf0-a9d8-1cbc4f9cee2f_David.png
EmployeeManagement/wwwroot/images/08235975-459b-4af9-b9a2-818cf162877f_testB.png
EmployeeManagement/wwwroot/images/32f20855-b650-4615-9312-0a8c5525f69b_testA.png

