.vs
*bin
*obj
EmployeeManagement/wwwroot/lib
EmployeeManagement/Migrations
EmployeeManagement/wwwroot/images/740ea28d-ec15-4b5b-a49c-1c39b76d907c_Sara.png
EmployeeManagement/wwwroot/images/77194313-f505-4cf0-a9d8-1cbc4f9cee2f_David.png
EmployeeManagement/wwwroot/images/08235975-459b-4af9-b9a2-818cf162877f_testB.png
EmployeeManagement/wwwroot/images/32f20855-b650-4615-9312-0a8c5525f69b_testA.png
EmployeeManagement/wwwroot/images/11644b8c-3c1b-4222-ab34-f2233807e837_SaraModified.png
EmployeeManagement/wwwroot/images/47b3c9d0-f13f-4605-9023-6a049847625c_laura.png
EmployeeManagement/wwwroot/images/a27870ca-bc44-43b9-bfdd-d53431108f23_Tom.png


