.vs
*bin
*obj
EmployeeManagement/wwwroot/lib
EmployeeManagement/Migrations
EmployeeManagement/wwwroot/images/740ea28d-ec15-4b5b-a49c-1c39b76d907c_Sara.png
EmployeeManagement/wwwroot/images/77194313-f505-4cf0-a9d8-1cbc4f9cee2f_David.png

